Os exercícios abaixo estão divididos de acordo com uma determinada tabela do Banco de Dados.
Você pode utilizar o INNER JOIN para resolver todas as questões.

FACT SALES

1. a) Faça um resumo da quantidade vendida (Sales Quantity) de acordo com o nome do canal
de vendas (ChannelName). Você deve ordenar a tabela final de acordo com SalesQuantity,
em ordem decrescente.

b) Faça um agrupamento mostrando a quantidade total vendida (Sales Quantity) e
quantidade total devolvida (Return Quantity) de acordo com o nome das lojas
(StoreName).

c) Faça um resumo do valor total vendido (Sales Amount) para cada mês
(CalendarMonthLabel) e ano (CalendarYear).

In [ ]:
a
SELECT TOP(10) * FROM FactSales;
SELECT * FROM DimChannel;

-- As tabelas tem em comum a coluna channelKey.

SELECT TOP(100)
	cha.ChannelName AS 'Nome do Canal',
	SUM(fac.SalesQuantity) AS 'Total Vendido'
FROM FactSales fac
INNER JOIN DimChannel cha
	ON fac.channelKey = cha.ChannelKey
GROUP BY cha.ChannelName
ORDER BY SUM(fac.SalesQuantity) DESC;

b
SELECT TOP(10) * FROM FactSales;
SELECT * FROM DimStore;

SELECT TOP(100)
	sto.StoreName AS 'Nome da Loja',
	SUM(fac.SalesQuantity) AS 'Total Vendido',
	SUM(fac.ReturnQuantity) AS 'Quantidade Devolvida'
FROM FactSales fac
INNER JOIN DimStore sto
	ON fac.StoreKey = sto.StoreKey
GROUP BY sto.StoreName
ORDER BY sto.StoreName;

c
SELECT TOP(10) * FROM FactSales;
SELECT * FROM DimDate;

SELECT TOP(100)
	dat.CalendarYear AS 'Ano',
	dat.CalendarMonthLabel AS 'Mês',
	SUM(fac.SalesAmount) AS 'Total Vendido'
FROM FactSales fac
INNER JOIN DimDate dat
	ON fac.DateKey = dat.Datekey
GROUP BY dat.CalendarYear, dat.CalendarMonthLabel, dat.CalendarMonth
ORDER BY dat.CalendarMonth ASC;

2. Você precisa fazer uma análise de vendas por produtos. O objetivo final é descobrir o valor
total vendido (SalesQuantity) por produto.

a) Descubra qual é a cor de produto que mais é vendida (de acordo com SalesQuantity).

b) Quantas cores tiveram uma quantidade vendida acima de 3.000.000.

In [ ]:
a
SELECT TOP(10) * FROM FactSales;
SELECT * FROM DimProduct;

SELECT TOP(100)
	pro.ColorName AS 'Cor do Produto',
	SUM(fac.SalesQuantity) AS 'Total Vendido'
FROM FactSales fac
INNER JOIN DimProduct pro
	ON fac.ProductKey = pro.ProductKey
GROUP BY pro.ColorName
ORDER BY SUM(fac.SalesQuantity) DESC;


b
SELECT
	pro.ColorName AS 'Cor do Produto',
	SUM(fac.SalesQuantity) AS 'Total Vendido'
FROM FactSales fac
INNER JOIN DimProduct pro
	ON fac.ProductKey = pro.ProductKey
GROUP BY pro.ColorName
HAVING SUM(fac.SalesQuantity)>= 3000000
ORDER BY SUM(fac.SalesQuantity) DESC;


-- Usar o having pois a tabela já foi agrupada por cor.

3. Crie um agrupamento de quantidade vendida (SalesQuantity) por categoria do produto
(ProductCategoryName). Obs: Você precisará fazer mais de 1 INNER JOIN, dado que a relação
entre FactSales e DimProductCategory não é direta.

In [ ]:
SELECT TOP(10) * FROM FactSales;
SELECT * FROM DimProduct;
SELECT * FROM DimProductSubcategory;
SELECT * FROM DimProductCategory;

SELECT
	cat.ProductCategoryName AS 'Nome da Categoria',
	SUM(fac.SalesQuantity) AS 'Total Vendido'
FROM FactSales fac
INNER JOIN DimProduct pro
	ON fac.ProductKey = pro.ProductKey
		INNER JOIN DimProductSubcategory sub
			ON pro.ProductSubcategoryKey = sub.ProductSubcategoryKey
				INNER JOIN DimProductCategory cat
					ON sub.ProductCategoryKey = cat.ProductCategoryKey
GROUP BY cat.ProductCategoryName;

FACTONLINESALES

4. a) Você deve fazer uma consulta à tabela FactOnlineSales e descobrir qual é o nome completo
do cliente que mais realizou compras online (de acordo com a coluna SalesQuantity).

b) Feito isso, faça um agrupamento de produtos e descubra quais foram os top 10 produtos mais
comprados pelo cliente da letra a, considerando o nome do produto.

In [ ]:
a
SELECT TOP(10) * FROM FactOnlineSales;
SELECT * FROM DimCustomer;


SELECT
	cus.
	cus.FirstName AS 'Nome',
	cus.LastName AS 'Sobrenome',
	SUM(fac.SalesQuantity) AS 'Total Vendido'
FROM FactOnlineSales fac
INNER JOIN DimCustomer cus
	ON fac.CustomerKey = cus.CustomerKey
WHERE cus.CustomerType = 'Person'
GROUP BY cus.FirstName, cus.LastName
ORDER BY SUM(fac.SalesQuantity) DESC;

b
SELECT TOP(10) * FROM FactOnlineSales;
SELECT * FROM DimCustomer;
SELECT * FROM DimProduct;


SELECT
	TOP (10) pro.ProductName AS 'Nome do Produto',
	SUM(fac.SalesQuantity) AS 'Total Vendido'
FROM FactOnlineSales fac
INNER JOIN DimCustomer cus
	ON fac.CustomerKey = cus.CustomerKey
INNER JOIN DimProduct pro
	ON fac.ProductKey = pro.ProductKey
WHERE cus.CustomerKey = 7665
GROUP BY pro.ProductName
ORDER BY SUM(fac.SalesQuantity) DESC;

5. Faça um resumo mostrando o total de produtos comprados (Sales Quantity) de acordo com o
sexo dos clientes.

In [ ]:
SELECT
	cus.Gender AS 'Gênero',
	SUM(fac.SalesQuantity) AS 'Qtd Vendida'
FROM FactOnlineSales fac
INNER JOIN DimCustomer cus
	ON fac.CustomerKey = cus.CustomerKey
WHERE cus.Gender IS NOT NULL
GROUP BY cus.Gender
ORDER BY SUM(fac.SalesQuantity) DESC;

FACTEXCHANGERATE

6. Faça uma tabela resumo mostrando a taxa de câmbio média de acordo com cada
CurrencyDescription. A tabela final deve conter apenas taxas entre 10 e 100.

In [ ]:
SELECT
	cur.CurrencyName AS 'Moeda',
	AVG(fact.AverageRate) AS 'Média'
FROM FactExchangeRate fact
INNER JOIN DimCurrency cur
	ON fact.CurrencyKey = cur.CurrencyKey
GROUP BY cur.CurrencyName
HAVING AVG(fact.AverageRate) BETWEEN 10 AND 100;

FACTSTRATEGYPLAN

7. Calcule a SOMA TOTAL de AMOUNT referente à tabela FactStrategyPlan destinado aos
cenários: Actual e Budget.
Dica: A tabela DimScenario será importante para esse exercício.

In [ ]:
 SELECT
	sce.ScenarioName AS 'Nome Cenário',
	SUM(fact.Amount) AS 'Total'
FROM FactStrategyPlan fact
INNER JOIN DimScenario sce
	ON fact.StrategyPlanKey= sce.ScenarioKey
WHERE sce.ScenarioName IN ('Actual', 'Budget')
GROUP BY sce.ScenarioName;

-- ou no lugar de where usar HAVING sce.ScenarioName <> 'Forecast' ou HAVING sce.ScenarioName IN ()

8. Faça uma tabela resumo mostrando o resultado do planejamento estratégico por ano.

In [ ]:
SELECT
	dat.CalendarYear AS 'Ano',
	SUM(fact.Amount) AS 'Total Anual'
FROM FactStrategyPlan fact
INNER JOIN DimDate dat
	ON fact.Datekey= dat.Datekey
GROUP BY dat.CalendarYear;

DIMPRODUCT/DIMPRODUCTSUBCATEGORY

9. Faça um agrupamento de quantidade de produtos por ProductSubcategoryName. Leve em
consideração em sua análise apenas a marca Contoso e a cor Silver.

In [ ]:
SELECT
	sub.ProductSubcategoryName AS 'Nome Subcategoria',
	COUNT(*) AS 'Quantidade'
FROM DimProduct pro
INNER JOIN DimProductSubcategory sub
	ON pro.ProductSubcategoryKey= sub.ProductSubcategoryKey
WHERE pro.BrandName = 'Contoso' AND pro.ColorName = 'Silver'
GROUP BY sub.ProductSubcategoryName;

10. Faça um agrupamento duplo de quantidade de produtos por BrandName e
ProductSubcategoryName. A tabela final deverá ser ordenada de acordo com a coluna
BrandName.

In [ ]:
SELECT
	pro.BrandName AS 'Marca',
	sub.ProductSubcategoryName AS 'Nome Subcategoria',
	COUNT(*) AS 'Quantidade'
FROM DimProduct pro
INNER JOIN DimProductSubcategory sub
	ON pro.ProductSubcategoryKey= sub.ProductSubcategoryKey
GROUP BY sub.ProductSubcategoryName, pro.BrandName
ORDER BY pro.BrandName ASC;