Os Joins têm como principal objetivo deixar as tabelas mais informativas, permitindo buscar
dados de uma tabela para outra, de acordo com uma coluna em comum que permita essa
relação.
Dito isso, faça os seguintes exercícios:

1. Utilize o INNER JOIN para trazer os nomes das subcategorias dos produtos, da tabela
DimProductSubcategory para a tabela DimProduct.

In [ ]:
SELECT * FROM DimProduct;
SELECT * FROM DimProductSubcategory;

SELECT
	dim.ProductKey AS 'ID Produto';
	dim.ProductName AS 'Nome Produto',
	sub.ProductSubcategoryName AS 'Nome Subcategoria'
FROM DimProduct dim
INNER JOIN  DimProductSubcategory sub
	ON dim.ProductSubcategoryKey = sub.ProductSubcategoryKey
ORDER BY dim.ProductName ASC;

2. Identifique uma coluna em comum entre as tabelas DimProductSubcategory e
DimProductCategory. Utilize essa coluna para complementar informações na tabela
DimProductSubcategory a partir da DimProductCategory. Utilize o LEFT JOIN.

In [ ]:
SELECT * FROM DimProductCategory;
SELECT * FROM DimProductSubcategory;

-- Tem em comum a coluna ProductCategoryKey

SELECT
	sub.ProductSubcategoryKey AS 'ID_Subcategoria',
	sub.ProductSubcategoryName AS 'Nome Subcategoria',
	sub.ProductSubcategoryDescription AS 'Descrição Subcategoria',
	cat.ProductCategoryKey AS 'ID_Categoria',
	cat.ProductCategoryName AS 'Nome Categoria',
	cat.ProductCategoryDescription AS 'Descrição Categoria'
FROM DimProductSubcategory sub
LEFT JOIN DimProductCategory cat
	ON sub.ProductCategoryKey = cat.ProductCategoryKey;

3. Para cada loja da tabela DimStore, descubra qual o Continente e o Nome do País associados
(de acordo com DimGeography). Seu SELECT final deve conter apenas as seguintes colunas:
StoreKey, StoreName, EmployeeCount, ContinentName e RegionCountryName. Utilize o LEFT
JOIN neste exercício.

In [ ]:
SELECT * FROM DimStore;
SELECT * FROM DimGeography;

As duas tabelas se relacionam pela coluna GeographyKey.

SELECT
	sto.StoreKey AS 'ID_Loja',
	sto.StoreName AS 'Nome Loja',
	sto.EmployeeCount AS 'Número de funcionários',
	geo.ContinentName AS 'Continente',
	geo.RegionCountryName AS 'País'
FROM DimStore sto
LEFT JOIN DimGeography geo
	ON sto.GeographyKey = geo.GeographyKey;

4. Complementa a tabela DimProduct com a informação de ProductCategoryDescription. Utilize
o LEFT JOIN e retorne em seu SELECT apenas as 5 colunas que considerar mais relevantes.

In [ ]:
-- As duas tabelas DimProduct e DimProductSubcategory se relacionam pela coluna ProductSubcategoryKey. Já as tabelas DimProductCategory e DimProductSubCategory se relaiconam pela coluna ProductCategoryKey.

SELECT * FROM DimProduct;
SELECT * FROM DimProductCategory;
SELECT * FROM DimProductSubcategory;

SELECT
	pro.ProductKey AS 'ID_Produto',
	pro.ProductName AS 'Nome do Produto',
	pro.ProductDescription AS 'Descrição do Produto',
	pro.BrandName AS 'Marca',
	cat.ProductCategoryName AS 'Nome Categoria'
FROM DimProduct pro
LEFT JOIN DimProductSubcategory sub
	ON pro.ProductSubcategoryKey = sub.ProductSubcategoryKey
		LEFT JOIN DimProductCategory cat
			ON sub.ProductCategoryKey = cat.ProductCategoryKey;

5. A tabela FactStrategyPlan resume o planejamento estratégico da empresa. Cada linha
representa um montante destinado a uma determinada AccountKey.

a) Faça um SELECT das 100 primeiras linhas de FactStrategyPlan para reconhecer a tabela.

b) Faça um INNER JOIN para criar uma tabela contendo o AccountName para cada
AccountKey da tabela FactStrategyPlan. O seu SELECT final deve conter as colunas:

• StrategyPlanKey




• DateKey

• AccountName

• Amount

In [ ]:
-- a
SELECT TOP(100) * FROM FactStrategyPlan;

-- b
-- A tabela FactStrategyPlan se relaciona com a tabela DimAccount pela coluna AccountKey.

SELECT TOP(100) * FROM FactStrategyPlan;
SELECT * FROM DimAccount;

SELECT
	stra.StrategyPlanKey AS 'ID_Estratégia',
	stra.Datekey AS 'Data',
	acc.AccountName AS 'Nome da Conta',
	stra.Amount AS 'Total'
FROM
	FactStrategyPlan stra
INNER JOIN DimAccount acc
	ON stra.AccountKey = acc.AccountKey;

6. Vamos continuar analisando a tabela FactStrategyPlan. Além da coluna AccountKey que
identifica o tipo de conta, há também uma outra coluna chamada ScenarioKey. Essa coluna
possui a numeração que identifica o tipo de cenário: Real, Orçado e Previsão.

Faça um INNER JOIN para criar uma tabela contendo o ScenarioName para cada ScenarioKey
da tabela FactStrategyPlan. O seu SELECT final deve conter as colunas:

• StrategyPlanKey

• DateKey

• ScenarioName

• Amount

In [ ]:
SELECT TOP(100) * FROM FactStrategyPlan;
SELECT * FROM DimScenario;

SELECT
	stra.StrategyPlanKey AS 'ID_Estratégia',
	stra.Datekey AS 'Data',
	sce.ScenarioName AS 'Nome do Cenário',
	stra.Amount AS 'Total'
FROM FactStrategyPlan stra
INNER JOIN DimScenario sce
	ON stra.ScenarioKey = sce.ScenarioKey;

7. Algumas subcategorias não possuem nenhum exemplar de produto. Identifique que
subcategorias são essas.

In [ ]:
SELECT
	pro.ProductKey AS 'ID_Produto',
	pro.ProductName AS 'Nome Produto',
	sub.ProductSubcategoryName AS 'Nome Subcategoria'
FROM DimProduct pro
RIGHT JOIN DimProductSubcategory sub
	ON pro.ProductSubcategoryKey = sub.ProductSubcategoryKey
WHERE pro.ProductName IS NULL; -- Irá retornar os nomes da subcategoria cujo nome do produto é null

8. A tabela abaixo mostra a combinação entre Marca e Canal de Venda, para as marcas Contoso,
Fabrikam e Litware. Crie um código SQL para chegar no mesmo resultado.

In [ ]:
SELECT
	DISTINCT BrandName AS 'Marca',
	ChannelName AS 'Nome Canal'
FROM
	DimProduct  CROSS JOIN DimChannel
WHERE BrandName IN ('Contoso', 'Fabrikam', 'Litware' );

9. Neste exercício, você deverá relacionar as tabelas FactOnlineSales com DimPromotion.
Identifique a coluna que as duas tabelas têm em comum e utilize-a para criar esse
relacionamento.
Retorne uma tabela contendo as seguintes colunas:

• OnlineSalesKey

• DateKey

• PromotionName

• SalesAmount

A sua consulta deve considerar apenas as linhas de vendas referentes a produtos com
desconto (PromotionName <> ‘No Discount’). Além disso, você deverá ordenar essa tabela de
acordo com a coluna DateKey, em ordem crescente.

In [ ]:

SELECT TOP (10) * FROM FactOnlineSales;
SELECT * FROM DimPromotion;

As tabelas se relacionam pela coluna PromotionKey.

SELECT TOP (10) * FROM FactOnlineSales;
Select * FROM DimPromotion;

SELECT TOP(100)
	sal.OnlineSalesKey AS 'ID_Venda',
	sal.DateKey AS 'Data Venda',
	promo.PromotionName AS 'Nome da Promoção',
	sal.SalesAmount AS 'Total de Vendas'
FROM FactOnlineSales sal
INNER JOIN DimPromotion promo
	ON sal.PromotionKey = promo.PromotionKey
WHERE promo.PromotionName <> 'No Discount'
ORDER BY sal.DateKey ASC;

10. A tabela abaixo é resultado de um Join entre a tabela FactSales e as tabelas: DimChannel,
DimStore e DimProduct.
Recrie esta consulta e classifique em ordem decrescente de acordo com SalesAmount.

In [ ]:
-- FactSales se relaciona com DimProduct pela coluna ProductKey.
-- FactSales se relaciona com DimStore pela coluna StoreKey.
-- FactSales se relaciona com DimChannel pela coluna channelKey

SELECT TOP (10) * FROM FactSales;
SELECT * FROM DimChannel;
SELECT * FROM DimStore;
SELECT * FROM DimProduct;

SELECT TOP(10)
	sal.SalesKey AS 'ID_Venda',
	cha.ChannelName AS 'Nome do Canal',
	sto.StoreName AS 'Nome da Loja',
	pro.ProductName AS 'Nome do Produto',
	sal.SalesAmount AS 'Total Vendas'
FROM FactSales sal
INNER JOIN DimChannel cha
	ON sal.channelKey = cha.ChannelKey
INNER JOIN DimStore sto
	ON sal.StoreKey = sto.StoreKey
INNER JOIN DimProduct pro
	ON sal.ProductKey = pro.ProductKey
ORDER BY sal.SalesAmount DESC;