Os códigos SQL presentes neste arquivo foram desenvolvidos a fim de gerar tabelas contendo os dados desejados para criação de um relatório para a empresa fictícia Contoso usando o Power BI. As views criadas a partir das consultas foram importadas para o Power BI por meio do conector disponível no software.

As tabelas do banco de dados Contoso, provido pela Microsoft, que contêm as informações de interesse para a análise são FactSales, DimStore, DimGeography, DimProductCategory, DimProductSubcategory e DimProduct, por possuírem informações de vendas, lojas e produtos, respectivamente. Visto que essas tabelas possuem dados que não são de interesse para a análise foram selecionadas apenas as colunas que contenham dados relevantes. Além disso, como as informações de localização geográfica das lojas, tipo de categoria e subcategoria dos produtos, se encontram separadas das tabelas DimStore e DimProduct, foi utilizado o comando LEFT JOIN para mesclar as tabelas e gerar uma nova contendo as colunas desejadas.

**Tabela Fato:** FactSales;

**Tabelas Dimensão:** DimStore, DimGeography, DimProductCategory, DimProductSubcategory e DimProduct.


O relatório final criado no Power BI pode ser acessado neste link: https://app.powerbi.com/view?r=eyJrIjoiYjNhMzYwYWYtMmRkMC00YTc1LTljZTUtMGU3ZWNkNTJmYWZlIiwidCI6ImRkNmNiYmVlLTE5N2MtNDFhNC1iYTk2LWRmMzI3ZTg2NTA3NyJ9


---

**Tabela de Lojas**: criada por meio da junção entre colunas da tabela DimStore e DimGeography

In [ ]:
SELECT * FROM DimStore;
SELECT * FROM DimGeography;

SELECT
	sto.StoreKey,
	sto.StoreName,
	sto.StoreType,
	sto.Status,
	geo.ContinentName AS Continent,
	geo.RegionCountryName AS Country
FROM DimStore sto
LEFT JOIN DimGeography geo
ON sto.GeographyKey = geo.GeographyKey;

## Criação da View
CREATE VIEW Lojas AS
SELECT
	sto.StoreKey,
	sto.StoreName,
	sto.StoreType,
	sto.Status,
	geo.ContinentName AS Continent,
	geo.RegionCountryName AS Country
FROM DimStore sto
LEFT JOIN DimGeography geo
ON sto.GeographyKey = geo.GeographyKey;

**Tabela de Produtos**: criada pela junção de colunas das tabelas DimProduct, DimProductCategory e DimProductSubcategory.

In [ ]:
SELECT * FROM DimProduct;
SELECT * FROM DimProductSubcategory;
SELECT * FROM DimProductCategory;

SELECT
	pro.ProductKey,
	pro.ProductName,
	pro.BrandName,
	pro.UnitCost,
	pro.UnitPrice,
	sub.ProductSubcategoryName,
	cat.ProductCategoryName
FROM DimProduct pro
LEFT JOIN DimProductSubcategory sub
ON pro.ProductSubcategoryKey = sub.ProductSubcategoryKey
LEFT JOIN DimProductCategory cat
ON sub.ProductCategoryKey = cat.ProductCategoryKey;

# Criação da view

CREATE VIEW vwProdutos AS
SELECT
	pro.ProductKey,
	pro.ProductName,
	pro.BrandName,
	pro.UnitCost,
	pro.UnitPrice,
	sub.ProductSubcategoryName,
	cat.ProductCategoryName
FROM DimProduct pro
LEFT JOIN DimProductSubcategory sub
ON pro.ProductSubcategoryKey = sub.ProductSubcategoryKey
LEFT JOIN DimProductCategory cat
ON sub.ProductCategoryKey = cat.ProductCategoryKey;

**Tabela de Vendas**: criada a partir da seleção de colunas da tabela FactSales.

In [ ]:
SELECT * FROM FactSales;

SELECT
	SalesKey,
	convert(varchar(10), DateKey, 103) AS 'DateKey',
	StoreKey,
	ProductKey,
	CurrencyKey,
	SalesQuantity,
	ReturnQuantity,
	ReturnAmount,
	DiscountAmount,
	TotalCost,
	SalesAmount
FROM FactSales;

# Criação da view

CREATE VIEW vwVendas AS
SELECT
	SalesKey,
	convert(varchar(10), DateKey, 103) AS 'DateKey',
	StoreKey,
	ProductKey,
	CurrencyKey,
	SalesQuantity,
	ReturnQuantity,
	ReturnAmount,
	DiscountAmount,
	TotalCost,
	SalesAmount
FROM FactSales;